.mainTextArea {
	width: calc(100vw-20px);
	height: calc(100vh - 30px);
	margin-left: 30px;
	margin-top: 10px;
	resize: none;
	overflow: visible;
	word-wrap: break-word;
	border: none;
	border-left: none;
	color: #f6f8f1;
	outline: none;
	background: transparent;
	font-size: 14pt;
	transition: border-left 0.4s;
}

.mainTextArea:focus {
	border-left: 3px solid #8c8d90;
	transition: border 0.4s ease;
}
